/* style.css */
/* opció afegint breakpoints */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    gap: 0px;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1201px) and (max-width: 1800px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1801px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

* {
    font-family: "Inter", helvetica, sans-serif;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.EXTERN {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 0;
}

.INTERN {
    display: flex;
    height: auto;
    position: relative;

    /* Important per a posicionar l'overlay absolutament */
    overflow: hidden;

    /* Important: oculta el contingut que sobrepassa */
}

.INTERN img {
    display: block;
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease;

    /* Transició suau per a la imatge */
    /* transition-delay: 0.5s; No funciona Afegeix un retard de 0.5 segons */
}

.INTERN .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* background-color: hsla(0, 50%, 50%, 0.8); */
    /* Fons  semitransparent */
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
    opacity: 0;

    /* Inicialment ocult */
    transition: opacity 0.3s ease 0.3s;

    /* Transició suau per a l'overlay amb durada i retard */
}

.INTERN:hover img {
    opacity: 0;

    /* Amaga la imatge en passar el cursor */
}

.INTERN:hover .overlay {
    opacity: 1;

    /* Mostra l'overlay en passar el cursor */
}

#imatge-01 {
    background-color: hsl(210, 35%, 80%);

    /* BLAU MARÍ */
}

#imatge-02 {
    background-color: hsl(208, 35%, 80%);

    /* BLAU CEL */
}

#imatge-03 {
    background-color: hsl(312, 35%, 80%);

    /* GRIS */
}

#imatge-04 {
    background-color: hsl(139, 35%, 80%);

    /* VERD */
}

#imatge-05 {
    background-color: hsl(196, 35%, 80%);

    /* TURQUESA */
}

#imatge-06 {
    background-color: hsl(44, 35%, 80%);

    /* TARONJA */
}

#imatge-07 {
    background-color: hsl(14, 35%, 80%);

    /* MARRÓ */
}

#imatge-08 {
    background-color: hsl(206, 35%, 80%);

    /* BLAU */
}

#imatge-09 {
    background-color: hsl(90, 35%, 80%);

    /* VERD */
}

#imatge-10 {
    background-color: hsl(189, 35%, 80%);

    /* BLANC? CIAN? */
}

#imatge-11 {
    background-color: hsl(110, 35%, 80%);

    /* GROC */
}

#imatge-12 {
    background-color: hsl(120, 35%, 80%);

    /* Khaki */
}

#imatge-13 {
    background-color: hsl(58, 35%, 80%);

    /* GROC */
}

#imatge-14 {
    background-color: hsl(140, 35%, 80%);

    /* VERD */
}

#imatge-15 {
    background-color: hsl(150, 35%, 80%);

    /* GROC */
}

#imatge-16 {
    background-color: hsl(56, 35%, 80%);

    /* DAURAT */
}

#imatge-17 {
    background-color: hsl(344, 35%, 80%);

    /* DAURAT */
}

#imatge-18 {
    background-color: hsl(90, 35%, 80%);

    /* OLI */
}

#imatge-19 {
    background-color: hsl(60, 35%, 80%);

    /* GROC */
}

#imatge-20 {
    background-color: hsl(104, 35%, 80%);

    /* VERD MARRO */
}

#imatge-21 {
    background-color: hsl(337, 35%, 80%);

    /* MARRO */
}

#imatge-22 {
    background-color: hsl(238, 35%, 80%);

    /* BLAU MARI */
}

#imatge-23 {
    background-color: hsl(203, 35%, 80%);

    /* BLAU */
}

#imatge-24 {
    background-color: hsl(35, 35%, 80%);

    /* MARRO */
}

#imatge-25 {
    background-color: hsl(208, 35%, 80%);

    /* BLAU */
}

#imatge-26 {
    background-color: hsl(260, 35%, 80%);

    /* BLAU */
}

#imatge-27 {
    background-color: hsl(335, 35%, 80%);

    /* VERMELL */
}

#imatge-28 {
    background-color: hsl(280, 35%, 80%);

    /* ROSA */
}

#imatge-29 {
    background-color: hsl(290, 35%, 80%);

    /* VERDn */
}

#imatge-30 {
    background-color: hsl(346, 35%, 80%);

    /* VERMELL */
}

#imatge-31 {
    background-color: hsl(310, 35%, 80%);

    /* VERMELL */
}

#imatge-32 {
    background-color: hsl(23, 35%, 80%);

    /* TARONJA */
}

#imatge-33 {
    background-color: hsl(30, 35%, 80%);

    /* MARRO */
}

#imatge-34 {
    background-color: hsl(213, 35%, 80%);

    /* BLAU */
}

#imatge-35 {
    background-color: hsl(263, 35%, 80%);

    /* BLAU */
}

#imatge-36 {
    background-color: hsl(243, 35%, 80%);

    /* ? */
}
